[tool.black]
line-length = 100

[tool.poetry]
name = "pg-purepy"
version = "0.7.3"
description = "A pure-Python anyio-based PostgreSQL adapter."
authors = ["Lura Skye <l@veriny.tf>"]
license = "LGPL-3.0-or-later"
classifiers = [
    "Development Status :: 4 - Beta",
    "Topic :: Database",
    "Topic :: Database :: Front-Ends",
    "Operating System :: OS Independent",
]
readme = "README.rst"

[tool.poetry.dependencies]
python = "^3.8"
anyio = "^3.1.0"
scramp = "^1.4.0"
attrs = "^21.2.0"
async_generator = { version = "^1.10", python = "<3.10" }
arrow = "^1.1.1"
python-dateutil = "^2.8.1"

Sphinx = { version = ">=3.0,<4.0", optional = true }
sphinxcontrib-trio = { version = "^1.1.2", optional = true }
sphinx-autodoc-typehints = { version = "^1.12.0", optional = true }
sphinx-rtd-theme = { version = "^0.5.2", optional = true }
sphinx-inline-tabs = { version = "^2021.4.11-beta.9", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pytest-cov = "^2.12.1"
trio = "^0.19.0"
isort = "^5.9.2"

[tool.poetry.extras]
docs = ["Sphinx", "sphinxcontrib-trio", "sphinx-autodoc-typehints", "sphinx-rtd-theme",
    "sphinx-inline-tabs"]

[tool.pytest.ini_options]
log_cli_level = "5"
log_cli = true
addopts = "--cov --cov-report=html"

[tool.coverage.run]
branch = true
source = ["pg_purepy"]

[tool.coverage.report]
exclude_lines = [
    "raise UnknownMessageError",  # this only happens if the postgresql server breaks
    "pragma: no cover"  # defualt behaviour...
]

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

