@font-face {
    font-display: swap;
    font-family: 'B612';
    font-style: normal;
    font-weight: 400;
    src: url('../b612-v12-latin-regular.woff2') format('woff2');
}

div.highlight pre, span.pre {
    font-family: "Iosevka SS14", "Iosevka", "JetBrains Mono", monospace !important;
    font-size: 14px !important;
}

.rst-content code.literal {
    font-family: "Iosevka SS14", "Iosevka", "JetBrains Mono", monospace !important;
}

html {
    font-size: 100%;
}
